@import './colours.css';
@import './headers.css';
@import './tag_selection.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: var(--background-colour);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: auto
}

* {
    box-sizing: border-box;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    color: var(--error);
    text-align: center;
}

.success {
    color: var(--success);
    text-align: center;
}

.full-container {
    width: 100%;
    height: 80vh;
}

.headings {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    margin-bottom: 1%;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: var(--section-colour);
    /* margin-left: 1%;
    margin-right: 1%; */
    padding: 2%;
    border-radius: 0.375rem;
    gap: 1rem;
    width: 100%;
}

.loginLabels {
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    color: var(--login-form-labels);

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}

input {
    background-color: var(--form-input);
    border-radius: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.input-create-form-div {
    justify-content: start;

    width: 80%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.title-create-form {
    gap: 2rem;
}

.post-create-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: start; */

    gap: 2rem;
    width: 100%;
}

.title-create {
    width: 10%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.title-input-create {
    width: 100%;
}